@font-face {
  font-family: "Elm";
  src: url('./DINNextLTArabic-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Elm";
  src: url('./DINNextLTArabic-Medium.ttf') format('truetype');
  font-weight: 700;
}